body{
        font-family: "Merriweather", serif;
        font-weight: 900;
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: weight;
        font-style: normal;
        font-variation-settings:
          "slnt" 0;
}

/* shared css */

.button{
    display: inline-flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #F00;
    border: none;
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;

}


/* banner section css */
.banner-section{
    background-image: url("/resources/Banner\ Image.png");
    width: 1320px;
    height: 600px;
    color: #fff;
    margin: 50px auto;
    flex-shrink: 0;
    border-radius: 16px;
    
    
}
.header-text{
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    text-align: center;
    padding-top: 180px;
    font-size: 30px;
    margin: 0px auto;
    font-family: Merriweather;
    font-weight: 900;
}

/* discount area css */

.discount-section-text{
    text-align: center;
}
.title-text{
    color: #F00;

    text-align: center;
    font-family: inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    
}
.sub-title{
    color: #F00;

    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;

}
.categories-text{

    color: #070211;

    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
}
.happy-new-year-img{
    margin: 0px auto;
    width: 802.9px;
    height: 500px;


}

/* midnight party section css */

.party-section{
    background-image: url("/resources/Vectorrr.png");
    width: 1320px;
    height: 600px;
    margin: 120px auto;
}
.party-text-section{
    color: #fff;
    padding: 100px 0px 200px 126px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
}
.party-title{
    
    width: 642px;
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;

}
.party-para{
    width: 690px;
    color: rgba(255, 255, 255, 0.80);

    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; 
}

